<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
  </head>
  <body>
    {{{body}}}

    <ul>
      <li><a href="/">part1</a></li>
      <li><a href="/times">part2</a></li>
      <li><a href="/times/views">part3</a></li>
    </ul>

  </body>
</html>

