<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
  </head>
  <body>
    {{{body}}}

    <ul>
      <li><a href="/">part1 - static</a></li>
      <li><a href="/times">part2 - times</a></li>
      <li><a href="/times/cat">part3 - times cat</a></li>
      <li><a href="/times/dog">part3 - times dog</a></li>
    </ul>

  </body>
</html>

